:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --font-rubik: "Rubik", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--very-light-gray);
  font-family: var(--font-rubik);
}

.container {
  width: 90%;
}

@media (min-width: 1200px) {
  .container {
    width: 47%;
  }
}

.replies {
  padding-left: 1rem;
  border-left: 2px solid var(--light-gray);
}

@media (min-width: 1200px) {
  .replies {
    padding-left: 2rem;
    margin-left: 2rem;
  }
}

.comment {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
  margin: 1rem 0;
}

@media (min-width: 1200px) {
  .comment {
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
  }
}

.comment__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

@media (min-width: 1200px) {
  .comment__profile {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.comment__profile__picture {
  width: 2rem;
  height: 2rem;
}

.comment__profile__username {
  font-size: 1rem;
  margin: 0 1rem;
}

.comment__profile__username__indicador {
  background-color: var(--moderate-blue);
  color: var(--white);
  font-weight: 400;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
}

.comment__profile__published {
  color: var(--grayish-blue);
  font-size: 1rem;
}

.comment__content {
  color: var(--grayish-blue);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  font-weight: 400;
}

.comment__content__replyTo {
  color: var(--moderate-blue);
  font-weight: 500;
}

@media (min-width: 1200px) {
  .comment__content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
}

.comment__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--very-light-gray);
  border-radius: 0.5rem;
}

@media (min-width: 1200px) {
  .comment__score {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    height: 6rem;
  }
}

.comment__score__button {
  background-color: var(--very-light-gray);
  border: none;
}

.comment__score__button:hover {
  cursor: pointer;
}

.comment__score__button:hover .comment__score__button__icon {
  -webkit-filter: brightness(0) saturate(100%) invert(37%) sepia(52%) saturate(684%) hue-rotate(200deg) brightness(89%) contrast(95%);
          filter: brightness(0) saturate(100%) invert(37%) sepia(52%) saturate(684%) hue-rotate(200deg) brightness(89%) contrast(95%);
}

.comment__score__label {
  color: var(--moderate-blue);
  font-weight: 500;
}

.comment__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 1200px) {
  .comment__actions {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.comment__actions__button {
  background-color: var(--white);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment__actions__button:hover {
  cursor: pointer;
}

.comment__actions__button:hover .comment__actions__label {
  color: var(--light-grayish-blue);
}

.comment__actions__button:hover .comment__actions__button__icon {
  -webkit-filter: brightness(0) saturate(100%) invert(92%) sepia(14%) saturate(7031%) hue-rotate(189deg) brightness(109%) contrast(87%);
          filter: brightness(0) saturate(100%) invert(92%) sepia(14%) saturate(7031%) hue-rotate(189deg) brightness(109%) contrast(87%);
}

.comment__actions__button--delete .comment__actions__label {
  color: var(--soft-red);
}

.comment__actions__button--delete:hover .comment__actions__label {
  color: var(--pale-red);
}

.comment__actions__button--delete:hover .comment__actions__button__icon {
  -webkit-filter: brightness(0) saturate(100%) invert(79%) sepia(4%) saturate(3353%) hue-rotate(309deg) brightness(99%) contrast(105%);
          filter: brightness(0) saturate(100%) invert(79%) sepia(4%) saturate(3353%) hue-rotate(309deg) brightness(99%) contrast(105%);
}

.comment__actions__label {
  font-weight: 500;
  color: var(--moderate-blue);
  margin-left: 0.5rem;
}

.textbox {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
  margin: 1rem 0;
  width: 100%;
}

@media (min-width: 1200px) {
  .textbox {
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
  }
}

.textbox__textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  border-color: var(--light-gray);
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .textbox__textarea {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

.textbox__profile__image {
  width: 2rem;
  height: 2rem;
  margin: auto 0;
}

@media (min-width: 1200px) {
  .textbox__profile__image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin: 0;
  }
}

.textbox__button {
  background-color: var(--moderate-blue);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  text-transform: uppercase;
  width: 50%;
  margin-left: auto;
  border: none;
}

.textbox__button:hover {
  background-color: var(--light-grayish-blue);
  cursor: pointer;
}

@media (min-width: 1200px) {
  .textbox__button {
    width: 100%;
    height: 50%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */