body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--very-light-gray);
  font-family: var(--font-rubik);
}
.container {
  width: 90%;

  @include for-desktop-up {
    width: 47%;
  }
}
.replies {
  padding-left: 1rem;
  border-left: 2px solid var(--light-gray);

  @include for-desktop-up {
    padding-left: 2rem;
    margin-left: 2rem;
  }
}
