.comment {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 1rem 0;

  @include for-desktop-up {
    grid-template-columns: auto 1fr auto;
  }
  &__profile {
    display: flex;
    align-items: center;
    grid-column: 1 / 3;

    @include for-desktop-up {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &__picture {
      width: 2rem;
      height: 2rem;
    }

    &__username {
      font-size: 1rem;
      margin: 0 1rem;

      &__indicador {
        background-color: var(--moderate-blue);
        color: var(--white);
        font-weight: 400;
        padding: 0.2rem 0.5rem;
        border-radius: 0.3rem;
        margin-left: 0.5rem;
      }
    }
    &__published {
      color: var(--grayish-blue);
      font-size: 1rem;
    }
  }

  &__content {
    color: var(--grayish-blue);
    grid-column: 1 / 3;
    font-weight: 400;

    &__replyTo {
      color: var(--moderate-blue);
      font-weight: 500;
    }

    @include for-desktop-up {
      grid-column: 2 / 4;
    }
  }
  &__score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--very-light-gray);
    border-radius: 0.5rem;

    @include for-desktop-up {
      flex-direction: column;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      height: 6rem;
    }
    &__button {
      background-color: var(--very-light-gray);
      border: none;

      &:hover {
        cursor: pointer;

        .comment__score__button__icon {
          filter: brightness(0) saturate(100%) invert(37%) sepia(52%)
            saturate(684%) hue-rotate(200deg) brightness(89%) contrast(95%);
        }
      }
    }
    &__label {
      color: var(--moderate-blue);
      font-weight: 500;
    }
  }

  &__actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    @include for-desktop-up {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    &__button {
      background-color: var(--white);
      border: none;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;

        .comment__actions__label {
          color: var(--light-grayish-blue);
        }

        .comment__actions__button__icon {
          filter: brightness(0) saturate(100%) invert(92%) sepia(14%)
            saturate(7031%) hue-rotate(189deg) brightness(109%) contrast(87%);
        }
      }

      &--delete {
        .comment__actions__label {
          color: var(--soft-red);
        }
        &:hover {
          .comment__actions__label {
            color: var(--pale-red);
          }
          .comment__actions__button__icon {
            filter: brightness(0) saturate(100%) invert(79%) sepia(4%)
              saturate(3353%) hue-rotate(309deg) brightness(99%) contrast(105%);
          }
        }
      }
    }

    &__label {
      font-weight: 500;
      color: var(--moderate-blue);
      margin-left: 0.5rem;
    }
  }
}
