.textbox {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 1rem 0;
  width: 100%;

  @include for-desktop-up {
    grid-template-columns: auto 1fr auto;
  }

  &__textarea {
    grid-column: 1 / 3;
    border-color: var(--light-gray);
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: 400;
    @include for-desktop-up {
      grid-column: 2 / 3;
    }
  }
  &__profile__image {
    width: 2rem;
    height: 2rem;
    margin: auto 0;
    @include for-desktop-up {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: 0;
    }
  }
  &__button {
    background-color: var(--moderate-blue);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--white);
    text-transform: uppercase;
    width: 50%;
    margin-left: auto;
    border: none;

    &:hover {
      background-color: var(--light-grayish-blue);
      cursor: pointer;
    }

    @include for-desktop-up {
      width: 100%;
      height: 50%;
      padding: 1rem;
      display: flex;
      align-items: center;
    }
  }
}
